# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [1]:
%run parse_data.ipynb

/var/folders/7s/p9vc6dt51918j4q47v387x880000gn/T/ipykernel_25568/4076835140.py:3: DtypeWarning: Columns (48,76,77,84,85,92) have mixed types. Specify dtype option on import or set low_memory=False.
  df0 = pd.read_csv('/Users/marino/Documents/UAB/Erasmus/Kyoto/Classes/Data Analysis Practice/Final Project/flightData/flight_delays_2024_combined.csv')

ORIGIN AIRPORT COLUMN FOUND: 'Origin'

Number of flights from Philadelphia (PHL): 100,635

Percentage of total flights: 1.42%

TOP 10 ORIGIN AIRPORTS:
Origin
ATL    341910
DFW    313582
DEN    308645
ORD    280052
CLT    217555
LAX    194053
PHX    193551
LAS    189252
SEA    163724
LGA    162432
Name: count, dtype: int64

In [2]:
df.describe()

,arrival_delay,departure_delay,day_of_week,scheduled_dep_time,distance,month
count,98710.000000,99123.000000,100635.000000,100635.000000,100635.000000,100635.000000
mean,8.535498,15.113283,4.001053,1347.374909,890.548060,6.694212
std,65.515171,63.183139,2.015506,482.392957,597.595095,3.273155
min,-72.000000,-36.000000,1.000000,107.000000,36.000000,1.000000
25%,-18.000000,-6.000000,2.000000,909.000000,453.000000,4.000000
50%,-8.000000,-2.000000,4.000000,1345.000000,678.000000,7.000000
75%,11.000000,10.000000,6.000000,1832.000000,1013.000000,9.000000
max,2189.000000,2204.000000,7.000000,2359.000000,2521.000000,12.000000