# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [1]:
import pandas as pd

# Fix mixed type warning: cancellation/diversion columns are sparse categorical data
df0 = pd.read_csv('/Users/marino/Documents/UAB/Erasmus/Kyoto/Classes/Data Analysis Practice/Final Project/flightData/flight_delays_2024_combined.csv',
                  dtype={
                      'CancellationCode': str,
                      'Div1TailNum': str,
                      'Div2Airport': str,
                      'Div2TailNum': str,
                      'Div3Airport': str,
                      'Div3TailNum': str
                  })

### Reducing the number of entries
- Due to the large number of entries 7M, the data analysis direction has been updated to only analyze delays of flights departing from Philadelphia International Airport (PHL). From 7M to 100k flight entries 1.42% of all total flights in the dataset.

In [2]:
df0_phl = df0[df0['Origin'] == 'PHL'].copy()

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- ArrDelay (Arrival Delay in minutes)

**IVs**:
- DepDelay (Departure delay in minutes)
- DayOfWeek
- CRSDepTime (Computer Reservation System Departure Time)
- Reporting_Airlines (Airline Carrier Code)
- Dest
- Distance
- Month


<br>
<br>

Let's extract the relevant columns:
- Reporting_Airline and Dest are not displayed as data type is not numeric

In [3]:

df = df0_phl[['ArrDelay', 'DepDelay', 'DayOfWeek', 'CRSDepTime', 
              'Reporting_Airline', 'Dest', 'Distance', 'Month']]

df.describe()

,ArrDelay,DepDelay,DayOfWeek,CRSDepTime,Distance,Month
count,98710.000000,99123.000000,100635.000000,100635.000000,100635.000000,100635.000000
mean,8.535498,15.113283,4.001053,1347.374909,890.548060,6.694212
std,65.515171,63.183139,2.015506,482.392957,597.595095,3.273155
min,-72.000000,-36.000000,1.000000,107.000000,36.000000,1.000000
25%,-18.000000,-6.000000,2.000000,909.000000,453.000000,4.000000
50%,-8.000000,-2.000000,4.000000,1345.000000,678.000000,7.000000
75%,11.000000,10.000000,6.000000,1832.000000,1013.000000,9.000000
max,2189.000000,2204.000000,7.000000,2359.000000,2521.000000,12.000000

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [4]:
df = df.rename(columns={
    'ArrDelay': 'arrival_delay',
    'DepDelay': 'departure_delay',
    'DayOfWeek': 'day_of_week',
    'CRSDepTime': 'scheduled_dep_time',
    'Reporting_Airline': 'airline',
    'Dest': 'destination',
    'Distance': 'distance',
    'Month': 'month'
})

df.describe()

,arrival_delay,departure_delay,day_of_week,scheduled_dep_time,distance,month
count,98710.000000,99123.000000,100635.000000,100635.000000,100635.000000,100635.000000
mean,8.535498,15.113283,4.001053,1347.374909,890.548060,6.694212
std,65.515171,63.183139,2.015506,482.392957,597.595095,3.273155
min,-72.000000,-36.000000,1.000000,107.000000,36.000000,1.000000
25%,-18.000000,-6.000000,2.000000,909.000000,453.000000,4.000000
50%,-8.000000,-2.000000,4.000000,1345.000000,678.000000,7.000000
75%,11.000000,10.000000,6.000000,1832.000000,1013.000000,9.000000
max,2189.000000,2204.000000,7.000000,2359.000000,2521.000000,12.000000